.feature {
    margin: 63px 0;

    p {
        margin-bottom: 0;
        line-height: 35px;
    }

    img {
        width: 100%;
    }
}

.best {
    padding: 0 20%;

    h6 {
        font-weight: 700;
        font-size: 25px;
        line-height: 37px;
        color: #1f601f;
    }
}

.sophiaImgBottom {
    margin-top: 50px;
}

.sophiaImgTop {
    margin-top: -300px;
}

.ques {
    font-weight: 700;
    font-size: 21px;
    line-height: 31px;
    color: #000000;
    opacity: 0.7;
}
