.container {
    padding: 20px;

    input[type='text'] {
        width: 100%;
        height: 50px;
        border-radius: 10px;

        &:focus {
            background-color: #99ff9944;
        }
    }

    input[type='number'] {
        width: 100%;
        height: 50px;
        border-radius: 10px;

        &:focus {
            background-color: #99ff9944;
        }
    }

    textarea {
        width: 100%;
        border-radius: 10px;

        &:focus {
            background-color: #99ff9944;
        }
    }

    p {
        font-size: 20px;
        color: #1f601f;
    }

    select {
        border-radius: 10px;
        height: 50px;
    }

    button {
        color: #fff;
        font-weight: bold;
        background: #5ca259;
        padding: 17px;
        border-radius: 10px !important;
        text-align: center;
        border: none;
        width: 100%;
    }
}

.title {
    color: #1f601f;
}
