.form {
    width: 100%;
    height: 950px;
    background-image: linear-gradient(rgba(192, 186, 186, 0.445), rgba(192, 186, 186, 0.445)), url(./Group.png);
    background-size: cover;
    background-position: center;
    position: relative;

    h6 {
        font-weight: 700;
        font-size: 29px;
        line-height: 42px;
        /* Text banner */
        color: #1f601f;
        margin-bottom: 2rem;
    }

    img {
        padding-bottom: 80px;
    }
}

.content {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
}

.register {
    width: 40%;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 40px;
    margin: 0 auto;
}

.register-item {
    margin-top: 30px;
}

.button-login {
    background: #5ca259 !important;
    border-radius: 10px !important;
    width: 100% !important;
    padding: 7px !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 35px !important;
    color: #fff !important;
}

.checkbox-mess {
    margin-left: 10px;
}

.pass-retrieval {
    color: #1f601f;
    border-bottom: 1px solid #1f601f;
    text-decoration: none;
}

.register-mess {
    font-size: 16px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);

    a {
        text-decoration: none;
        color: #1f601f;
        border-bottom: 1px solid #1f601f;
        font-weight: bold;
    }
}
