.container {
    padding: 20px;
}

.title {
    color: #1f601f;
}

.cate-select {
    span {
        font-size: 20px;
    }

    select {
        height: 25px;
        font-size: 20px;
    }
}

.prods-table {
    table {
        width: 100%;
    }

    table,
    th,
    td,
    tr {
        border: 1px solid black;
        text-align: center;
        font-size: 16px;
    }
}

.act-btn {
   p {
    margin-bottom: 5px !important;
   }
}
