input[type='text'],
input[type='password'] {
    font: 15px/24px 'Muli', sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

:focus {
    outline: none;
}

.col-3 {
    width: 100%;
    margin: 20px 3% 60px 0;
    position: relative;
}

.effect-17 {
    height: 50px;
    border: 0;
    padding: 4px 0 !important;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.effect-17 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: 0.4s;
}

.effect-17:focus ~ .focus-border,
.has-content.effect-17 ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.effect-17 ~ label {
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    text-align: left;
    color: rgb(109, 109, 109);
    transition: 0.3s;
    z-index: 10;
    letter-spacing: 0.5px;
}
.effect-17:not(:placeholder-shown) ~ label,
.effect-17:focus ~ label,
.has-content.effect-17 ~ label {
    top: -16px !important;
    font-size: 12px;
    color: #4caf50 !important;
    transition: 0.3s;
}

