.banner {
    img {
        width: 100%;
    }
}

.ship {
    background-color: #1f601f;
}
.ship-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 1px dashed #fff;
}

.ship-img {
    padding-top: 15px;
}

.ship-content {
    margin-left: 15px;
    color: #fff;

    p {
        margin-bottom: 0;
        line-height: 35px;

        b {
            color: #ffa500;
        }
    }
}
